################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CRX.Extensions/v16/TestStore/0/000.testlog
/.vs/CRX.Extensions/v16/TestStore/0/testlog.manifest
